.h3{
  width: 1920px;
  background-color: rgb(238, 175, 1);
  margin: auto;
  box-shadow: 2px 3px 3px 2px rgb(199, 47, 0);
}

.itens {
 display:block;
 height: 320px;

 background-color: rgb(42, 126, 165);
 box-shadow: 2px 2px 6px 7px black;
 border: 200%;
 border-radius: 20px;

 width: 670px;
 align-items: center;
 justify-content: center;

 margin: 15%;
 margin-right: 32%;
 margin-inline-start: auto;
}

.Email{
  width: 60.5%;
  min-width: 150px;
  max-width: 500px;

  margin-top: 3.5%;
  margin-right: 10%;
  margin-inline-start: 19.9%;

  color: black;
}

.Senha{
  width: 60.5%;
  min-width: 150px;
  max-width: 500px;

  margin-top: 2.5%;
  margin-right: 10%;
  margin-inline-start: 19.9%;
}

.botãoIrMenu {
  width: 40px;
  height: 28px;
  min-width: 150px;
  max-width: 150px;

  margin-right: 26px;
  margin-top: 1.5%;
  margin-inline-start: 39.5%;

  border-radius: 10px;
  background-color: rgb(238, 104, 27);

  color: white;
}

.EsqueciSenha {
  width: 40px;
  height: 20px;
  min-width: 150px;
  max-width: 150px;

  margin-right: 20px;
  margin-top: 3.5%;
  margin-inline-start: 25.9%;

  color: white;
  font-size: 14px;
  font-weight: bold;
}

.EsqueciSenha:hover{
  color: rgb(238, 104, 27);
  cursor: pointer;
}

.Cadastro {
  width: 40px;
  height: 12px;
  min-width: 150px;
  max-width: 150px;

  margin-right: 20px;
  margin-top: 3.2%;
  margin-inline-start: 25.9%;

  color: white;
  font-size: 14px;
  font-weight: bold;
}

.Cadastro:hover {
  color: rgb(238, 104, 27);
  cursor: pointer;
}



