
<div>
  <h3 class="h3">Consultar works!</h3>

  <button class="Voltar" (click)="RetornarMenu('menu')">Voltar</button>

  <mat-form-field class="Filtro">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <div class="tabela">
    <table mat-table [dataSource]="dataSource" class="Tabela">

      <ng-container matColumnDef="position" style="width: 10px;" >
        <th mat-header-cell *matHeaderCellDef >Nº</th>
        <td mat-cell *matCellDef="let element">
          {{element.position}}<br>
        </td>
      </ng-container>

      <ng-container matColumnDef="NomeTarefa" >
        <th mat-header-cell *matHeaderCellDef >Nome Tarefa</th>
        <td mat-cell *matCellDef="let element " >
          {{element.name}}<br>
        </td>
      </ng-container>

      <ng-container matColumnDef="SelectColor" >
        <th mat-header-cell *matHeaderCellDef >Cor Selecionado(a)</th>
        <td mat-cell *matCellDef="let element" >
          {{element.color}}<br>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">
          Nenhuma Tarefa Encontrada no filtro

          "{{input.value}}"</td>
      </tr>

    </table>
  </div>

</div>
